<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.dao.UserMapper">

	<resultMap type="com.mycompany.myapp.vo.UserVO" id="userMap">
		<result column="USER_ID" property="userId" />
		<result column="USER_PASSWORD" property="userPassword" />
		<result column="USER_NAME" property="userName" />
		<result column="USER_BIRTH" property="userBirth" />
		<result column="USER_ADDRESS" property="userAddress" />
		<result column="USER_PHONE" property="userPhone" />
		<result column="USER_SIGNUP" property="userSignup" />
		<result column="USER_ISADMIN" property="userIsAdmin" />
	</resultMap>

	<select id="getUserInfo"
		resultType="com.mycompany.myapp.vo.UserVO">
		SELECT USER_ID AS userId,
		USER_PASSWORD AS userPassword,
		USER_NAME AS userName,
		USER_BIRTH AS userBirth,
		USER_ADDRESS AS userAddress,
		USER_PHONE AS userPhone,
		USER_SIGNUP AS userSignup
		FROM USERS
		WHERE USER_ID = #{userId}

	</select>

	<insert id="insertUser"
		parameterType="com.mycompany.myapp.vo.UserVO">
		insert into USERS
		(user_id, user_password, user_name,
		user_birth, user_address, user_phone, user_signup, user_isadmin)
		values(#{userId}, #{userPassword}, #{userName}, #{userBirth},
		#{userAddress}, #{userPhone}, sysdate, 'user')
	</insert>

	<update id="updateUser"
		parameterType="com.mycompany.myapp.vo.UserVO">
		update users
		set user_password=#{userPassword},
		user_name=#{userName},
		user_address=#{userAddress}, user_phone=#{userPhone}
		where user_id=#{userId}
	</update>

	<delete id="deleteUser"
		parameterType="com.mycompany.myapp.vo.UserVO">
		delete from users where user_id=#{userId} and
		user_password=#{userPassword}
	</delete>

	<select id="userLogin"
		resultType="com.mycompany.myapp.vo.UserVO">
		SELECT USER_ID AS userId,
		USER_PASSWORD AS userPassword,
		user_name as userName
		FROM USERS
		WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword} AND
		USER_ISADMIN = 'user'
	</select>

	<select id="idCheck" resultType="int">
		select count(*) from users where
		user_id=#{userId}
	</select>

	<select id="pwCheck" resultType="int">
		select count(*)
		from users
		where
		user_id=#{userId} and user_password=#{userPassword}
	</select>

</mapper>